<%= form_for(league,:html => {:class => "form-login form-wrapper form-medium mt-3", :role => "form"}) do |f| %>

<% if league.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(league.errors.count, "error") %>
      prohibited this league from being saved:</h2>

    <ul>
      <% league.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<h3 class="title-divider">
  <% if league.new_record? %>
    <span>Create a New League</span>
  <% else %>
    <span>Edit
      <%= league.name %>
    </span>
  <% end %>
</h3>
<hr/>
<div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, class:"form-control", placeholder:"League Name", autofocus:"true" %>
</div>

<div class="form-group">
  <%= f.label :zip %>
  <%= f.text_field :zip, class:"form-control" %>
</div>

<div class="form-group">
  <%= f.label :description %>
  <%= f.text_area :description, class:"form-control" %>
</div>

<div class="form-group">
  <%= f.label :start_date %>
  <%= f.date_field :start_date, class:"form-control" %>
</div>

<div class="form-group">
  <%= f.label :end_date %>
  <%= f.date_field :end_date, class:"form-control" %>
</div>

<div class="form-group">
  <%= f.label :team_limit %>
  <%= f.number_field :team_limit, min: 1, max: 12, class:"form-control" %>
</div>

<div class="form-group">

  <% if league.new_record? %>
    <button type="submit" class="btn btn-primary">Create</button>
  <% else %>
    <button type="submit" class="btn btn-primary">Update</button>
  <% end %>
</div>
<% end %>
