<div class="container">
  <div class="row">
    <% @leagues.each do |league| %>
      <div class="col-lg-12 mx-auto mt-4">
        <!-- Product 5 -->
        <div class="card product-card mb-4 card-outline-danger">
          <!-- Ribbon -->
          <div class="card-ribbon card-ribbon-bottom card-ribbon-right bg-danger text-white"><%= spots_left(league) %> Spots Left</div>
          <!-- Content -->
          <div class="card-body p-3 pos-relative row">
            <!-- Image content -->
            <div class="col-md-4 mb-2 mb-md-0">
              <%= image_tag  "soccer.jpg", class:"rounded img-fluid" %>
            </div>
            <!-- Product details -->
            <div class="col-md-8 d-flex flex-column align-items-start">
              <h4 class="card-title mb-2">
                <%= link_to league.name , league %>
              </h4>
              <p class="font-weight-bold"><%= league.zip %></p>
              <p class="text-s"><%= league.description %>.</p>
              <p><span class="font-weight-bold">League length: </span><%= date_distance(league) %></p>
              <p><span class="font-weight-bold">League Starts: </span><%= league.start_date.strftime("%m/%d/%Y") %></p>
              <div class="mt-auto">
                <a href= <%= league_path(league) %> class="btn btn-primary btn-sm">
                  <i class="fa fa-trophy mr-2"></i> View League </a>
                   <% if  user_signed_in? && current_user.league_manager? %>
                  <a href= <%= edit_league_path(league) %> class="btn btn-warning btn-sm">
                  <i class="fa fa-wrench mr-2"></i> Edit League </a>
                  <%  end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
  </div>
</div>
