<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @league.name %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @league.zip %>
</p>

<p>
  <strong>Team limit:</strong>
  <%= @league.team_limit %>
</p>

<%= link_to 'Edit', edit_league_path(@league) %> |
<%= link_to 'Back', leagues_path %>
