<!DOCTYPE html>
<html>

<head>
  <%= render "layouts/head" %>
</head>

<body class="<%= yield :body %>">
  <%= render "layouts/nav" %>
  <%= render 'layouts/myflash' unless flash.nil?%>
    <%= yield %>
    <%= render "layouts/footer" %>-->
</body>

</html>